<html>
  <body>
    <div id="example">
      <p>Argparse builder</p>

      <textarea v-model="description" placeholder="Parser description"></textarea>
      <p>Arguments</p>this.args.length
      <ul>
        <li v-for="arg in args">
          {{ arg.name }} - {{ arg.position }}
          <button type="button" v-on:click="remove_argument(arg.id)">-</button>
        </li>
      </ul>
      <input v-model="name" placeholder="name">
      <select v-model="position">
          <option value="positional">Positional</option>
          <option value="optional">Optional</option>
      </select> 
      <button type="button" v-on:click="add_argument">+</button>
      <p>Preview</p>
      <preview :description="description" :args="args"></preview>
      {{ args }}
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script>
        Vue.component('preview', {
          props: ['description', 'args'],
          template: `<div>
          import argparse<br>
          parser = argparse.ArgumentParser(description='{{ description }}')<br>
          <p v-for="arg in this.args">
            <template v-if="arg.position == 'positional'">
              parser.add_argument('{{ arg.name }}')
            </template>
            <template v-else>
              parser.add_argument('--{{ arg.name }}', '-{{ arg.name[0] }}')
            </template>
          </p><br>
          args = parser.parse_args()
          </div>`
        })
        new Vue({
            el: '#example',
            data: { 
              args: [],
              name: '',
              position: '',
              description: '',
            },
            methods: {
              add_argument: function() {
                this.args.push({
                  'id': Date.now(),
                  'name': this.name,
                  'position': this.position
                });
              },

              remove_argument: function(id) {
                this.args = this.args.filter(function(e) { return e.id !== id })
              }
            }
        })
    </script>
  </body>
</html>
